.container {
    margin-bottom: 50px;
    text-align: center;
    font-size: 20px;
}

.crumbs {
    height: 100px;
    text-align: center;
}

.crumbs ul {
    list-style: none;
    height: 100%;
}

.crumbs ul li {
    height: 30px;
    display: inline-block;
}

.crumbs ul li a{
    float: left;
    margin-right: 30px;
    height: 100%;
    padding: 10px 20px 0 20px;
    background-color: #3498db;
    color: #fff;
    text-decoration: none;
    font-size: 20px;
    position: relative;
}

.crumbs ul li a:before{
    content: "";
    border-top: 20px solid #3498db;
    border-bottom: 20px solid #3498db;
    border-left: 20px solid transparent;
    position: absolute;
    top: 0;
    left: -20px;
}

.crumbs ul li a:after{
    content: "";
    border-left: 20px solid #3498db;
    border-top: 20px solid transparent;
    border-bottom: 20px solid transparent;
    position: absolute;
    top: 0px;
    right: -20px;
}
