#nav {
    padding: 20px;
    text-align: center;
    position: fixed;
    height: 100%;
    top: 0;
    width: 80%;
    max-width: 400px;
    background: rgb(255, 219, 58);
    box-shadow: -3px 0 10px rgba(0,0,0,0.2);
}

#nav:not(:target) {
    right: -100%;
    transition: right 1.5s;
}

#nav:target {
    right: 0;
    transition: right 1s;
}